@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-1: #222831;
  --color-background-2: #2d2d2d;
  --color-background-3: #393e46;
  --color-background-4: #a3b5b0;
  --color-primary: #57605f;
  --color-primaryLight: #65c1b1;
  --color-text: #f0f0f0;
  --color-accent: #00adb5;
  --color-success: #4fc83b;
  --color-successLight: #74ca65;
  --color-danger: #f11658;
  --color-dangerLight: #d5577d;
}
